body{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 1.7rem;
}

.header-ani {
	color: white;
	background-color: #6FC781;
}

*{margin:0; padding:0;} 

header nav ul li a{   
	list-style: none;
	text-decoration:none;
}

header{
	background:#32d054;
	color:blue;
}

.section-page {
	margin-top: 20px;
	margin-bottom: 20px;
}

.article-ani {
	margin: 10px;
}

article{
	background:#eee;
}
aside{ background:#e8400b; color:white; }

.verde{ background: lightgreen; }
.rosa{ background: pink; }
.celeste{ background: aqua; }
.marron{ background: khaki; }

footer{
	background:#4caf50;
	color:black;
}

.seccion-media{
     height:300px;
     background-color:black;
}

.footer-ani {
	color: white;
	background-color: #404039;
	height: 193px;
}
.infografias{
   height: 600px;
   margin-top: 29px;
}
.infografia2{
   height: 252px;
   margin-top: 4px;
}
.seccion-page-map{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-ani-dos{
	color: #060505;
	background-color: #cecebb;
	height: 193px;
}

.lista-contacto{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
}
.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.descripcion-articulo{
	margin: 0;
    font-family: BodyFont,sans-serif;
    max-height: 56px;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 0.9em;
}
.no-image-links{
    outline: none;
    text-decoration: none;
}
.news-ani{
	border: 1px solid;
}
.footer-iconos-links{
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.footer-nav-brand{
	margin-top: 18px;
}
.footer-contact{
	height: 177px;
    width: 800px;
    text-align: center;
}


/*Estilos contacto*/
input:focus{
	outline:none;
}
input:invalid{
  background:green;
  color:white;
}
input:checked{
  outline: 1px solid green;
}
input:disabled{
  background:yellow;
}

textarea{
  resize:none;
}

::-webkit-input-placeholder{color:black;}
::-moz-placeholder{color:black;}